<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhy.shortlink.project.dao.mapper.ShortLinkMapper">

    <sql id="Base_Column_List">
        id, domain, short_uri, full_short_url, origin_url, gid, favicon,
        enable_status, created_type, valid_date_type, valid_date, `description`,
        total_pv, total_uv, total_uip, create_time, update_time, del_flag,
        last_access_time
    </sql>

    <!-- 用于查询“今天之前”的数据 -->
    <select id="pageLinkFallback" resultType="com.xhy.shortlink.project.dao.entity.ShortLinkDO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_link
        WHERE gid = #{gid}
        AND del_flag = 0
        AND enable_status = 0
        AND (last_access_time &lt; #{todayStart} OR last_access_time IS NULL)
        ORDER BY create_time DESC
        LIMIT #{start}, #{size}
    </select>


    <!-- 分页查询短链接 -->
    <select id="pageLink" resultType="com.xhy.shortlink.project.dao.entity.ShortLinkDO">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_link t
        WHERE t.gid = #{gid}
        AND t.enable_status = 0
        AND t.del_flag = 0
        <choose>
            <when test="orderTag == 'totalPv'">
                ORDER BY t.total_pv DESC
            </when>
            <when test="orderTag == 'totalUv'">
                ORDER BY t.total_uv DESC
            </when>
            <when test="orderTag == 'totalUip'">
                ORDER BY t.total_uip DESC
            </when>
            <otherwise>
                ORDER BY t.create_time DESC
            </otherwise>
        </choose>
    </select>

    <!-- 查询回收站分页链接-->
    <select id="pageRecycleBinLink" resultType="com.xhy.shortlink.project.dao.entity.ShortLinkDO"
            parameterType="com.xhy.shortlink.project.dto.req.ShortLinkRecycleBinPageReqDTO">
        SELECT
        <include refid="Base_Column_List"/>,
        0 AS todayPv,
        0 AS todayUv,
        0 AS todayUip
        FROM t_link t
        WHERE
        t.enable_status IN (1, 2)
        AND t.del_flag = 0
        <if test="gidList != null and gidList.size() > 0">
            AND t.gid IN
            <foreach collection="gidList" item="gid" open="(" separator="," close=")">
                #{gid}
            </foreach>
        </if>
        <choose>
            <when test="orderTag == 'totalPv'">
                ORDER BY t.total_pv DESC
            </when>
            <when test="orderTag == 'totalUv'">
                ORDER BY t.total_uv DESC
            </when>
            <when test="orderTag == 'totalUip'">
                ORDER BY t.total_uip DESC
            </when>
            <otherwise>
                ORDER BY t.create_time DESC
            </otherwise>
        </choose>
    </select>
</mapper>