GHCR_IMAGE_TAG=latest
SPRING_PROFILES_ACTIVE=aggregation
DATABASE_ENV=prod

SPRING_DATA_REDIS_PASSWORD=xhy_redis
SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR=nacos:8848
SPRING_CLOUD_NACOS_DISCOVERY_USERNAME=nacos
SPRING_CLOUD_NACOS_DISCOVERY_PASSWORD=nacos
ROCKETMQ_NAME_SERVER=namesrv:9876

SHORT_LINK_DOMAIN_DEFAULT=your-domain.example
SHORT_LINK_STATS_LOCALE_AMAP_KEY=
DASHSCOPE_API_KEY=

GHCR_USERNAME=
GHCR_TOKEN=
